html, html a {
    -webkit-font-smoothing: antialiased !important;
}
p {
  font: "ff-tisa-web-pro", serif;
  font-weight: 400;
  line-height: 1.6;
}
h3 {
  display: block;
  margin: 1em;

}


.navbar {
  height: 75px;
  margin: 0 auto;
  background-color: #39474e;
  border-radius: 0px;
}
.navbar-default .navbar-nav.navbar-right>li>a{
color: #989ba0;
}

.navbar-default .navbar-nav.navbar-right>li>a:hover{
color: black;
background-color:#989ba0;
}

.navbar-default .navbar-nav.navbar-left>li>a{
color: orange;
}

.navbar-default .navbar-nav.navbar-left>li>a:hover{
color: blue;
}

.getstarted {

  font-weight: bold;
  color: white;
  text-transform:
  /*background-color: teal;*/

}

/*li, a {
  padding: 10px;
  margin-left: 10px;
}*/

.hero {
  clear:both;
  background-image: url("../images/amy-home-web2.jpg");
  height: 500px;
  background-size: cover;
}

h4 {
  color: #838f95;
  font-size: 34px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.small {
  font-family: Helvetica;
  font: normal;
  color:#39474e;

}
 .secondcont {
  /*width: 1438px;*/
  /*height: 455px;*/
  /*height: 550px;*/
}

.discover {
  color: #838f95;
  font-style: normal;
  text-align: center;
  position: relative;
  /*margin-top: 18px;
  margin-bottom: 20px;*/
}
.fourtypes {
  padding-left: 5px;
  padding-right: 5px;}

.sellingpoints {
    line-height: 36px;
    font-weight: bold;
    font-style: italic;
    margin: 15px 0;
    font-size: 26px;
    color: #727d84;
    text-align: left;
}
.infotitile {
  text-align: left;
  font-size: 40px;
  color: #2f3c44;
  line-height: 36px;
    font-weight: bold;
    font-style: italic;
    margin: 15px 0;

}


  /*margin-bottom:20px;*/
  /*not sure if this is necc since we are not doing the what our students say.*


.infowhole {
  border-radius: 20px;
  border-style: groove;
  display:block;
  margin-top: 0em;
  color: gray;
  background-color: green;
}

.infoboxlarge-top {

  /*border-style: groove;
  display:block;*/
  /*margin-top: 1em;
  color: #669db8;
  background-color: green;*/
  /*color:#eeeeee;*/
}

.half-width {
  width: 48%;
  /*align-content: space-between; 4px;*/
}
.infoboxlarge-fill {
  text-align: left;
  color:#EBEBEB;
  background-color: white;
  padding: 1px;
  margin-bottom: 10px;
    height: 50px;
    font-style: italic;
    font-size: 16px;
    padding-left: 8px;
    outline: none;
    /*background-color: green;*/
}
.half-width {
  width: 50%;
}
.emailfactbutton {
  background-color: teal;
  height: 49px;
  width: 309px;
  font-style: normal;
  font-size: 17px;
    width: 100%;
    min-width: 0;

}
.parabase {
  text-align: center;
  font-size: 16px;
  text-transform: none;
  font-style: normal;
  color: black;
}

.courseicons {
  border: 0;


}
.courses {
  font-size: 18px;
  font-weight: 700;
  /*text-rendering: optimizeLegibility;*/
  line-height: 1.6;
}

.fe {
  color: #cf852c;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  /*text-rendering: optimizeLegibility;*/
  line-height: 1.6;
}
/*this causes alignment issues*/
/*.tiyicons {
  width: 70px;
  height: 54px;
}*/
.be {
  color: #af5c56;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.me {
  color: #d2b52b;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.id {
  color: #2aa2ae;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.sponsors {
background-color: #eeeeee;
}
.discover {
  background-color: #eeeeee;
  height: 250px;
}
.hemployers {
  font-size: 34px;
  font-weight: bold;
  line-height: 36px;
  font-style: italic;
  color: white;
}
.dataemployers {
  text-align: center;
}
.pemployers {
  font-size: 18px;
  font-style: normal;
  color: white;
}
.container .employers {
  text-align: center;
  color: white;

}

.employers {
background-color: #39474e;
}
.employers {
  clear:both;
  background-image:url("../images/employers-image.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}

.header {
  font-family: sans-serif;
  font-size: 70px;
}

.contactinfo {
  /*h4: strong;normal;
  h3: strong;italic;*/
  p:18px;

}
.lowerquestions {
  text-align: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 36px;
  font-style: normal;
  color: #838f95;
}
.lowerletstalk {
  /*text-align-left:*/
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  font-style: italic;
  color: #838f95;

}
.lowerdata {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  font-style: italic;
  color: black;
}
.contactinfo {
  /*margin: 20%;*/
  padding: 15px;
  border: 15px;
}

.employernames {
  text-align: center;

.footer {
  background-color: #39474e;
  height: 347px;
  /*font-size: 14px;*/
  padding-top: 15px;

}
.courses {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.list-a .list-b {
  font-style: normal;
  font-weight:lighter;
  color: #9ca7ab;
  text-align: left;
  /*text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
           0 3px 0 #777777, 0 4px 0 #666666,
           0 5px 0 #555555, 0 6px 0 #444444,
           0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
           0 9px 10px rgba(0, 0, 0, 0.2);*/
  /*Lexi-I think the lighter font weight look better here.then if found this interesting text shadow deal*/

}
.all-rights {
  float: right;
  text-align: right;
}
.emboss {
  clear: both;

    color: #ECECF6;
    /*text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;*/
    .threed {
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}
}
