.p .h {
  font: "ff-tisa-web-pro", serif;
}
.navbar {
  height: 75px;
  margin: 0 auto;
  background-color: #39474e;
  border-radius: 0px;
}

li, a {
  padding: 10px;
  margin-left: 10px;
}

.hero {
  clear:both;
  background-image: url("../images/amy-home-web2.jpg");
  height: 500px;
  background-size: cover;
}

h4 {
  color: #838f95;
  font-size: 34px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.secondcont {
  /*height: 300px;*/
}
.discoverour {
      color: #838f95;
      font-style: normal;
      text-align: center;
      position: relative;
      padding: 0;
      margin-top: 18px;
      margin-bottom: 20px;
  /*margin-bottom:20px;*/
  /*not sure if this is necc since we are not doing the what our students say.*/
}
.courseicons {
  border: 0;
}

.fe {
  color: #cf852c;
  text-align: center;
}
.be {
  color: #af5c56;
  text-align: center;
}
.me {
  color: #d2b52b;
  text-align: center;
}
.id {
  color: #2aa2ae;
  text-align: center;
}
.infoboxlarge {
  border-radius: 20px;
  border-style: groove;
  /*color:#eeeeee;*/
}

.sponsors {
background-color: #eeeeee;
}
.discover {
  background-color: #eeeeee;
  height: 250px;
}
.container .employers {
  text-align: center;
  color: white;

}

.employers {
background-color: #39474e;
}
.employers {
  clear:both;
  background-image:url("../images/employers-image.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}

.header {
  font-family: sans-serif;
  font-size: 70px;
}
.contactinfo {

}

.employernames {
  text-align: center;
  /*width: 342px;
  height: 110px;*/
}

.employerlogos
{
  /*width: 50%;*/
/*max-width: 230px;*/
}

.smcontactinfo {

}
.smcontactinfoleft{
  border-radius: 10px;
  border-style: groove;
}
.footer {
  background-color: #39474e;
  height: 100px;
}
